In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

In [2]:
df=pd.read_csv('census.csv')

In [3]:
df

         county  population  total_units  occupied_units  vacant_units
0        Adair         7496         3585            3217           368
1        Adams         3704         1888            1614           274
2    Allamakee        14061         7668            5797          1871
3    Appanoose        12317         6306            5320           986
4      Audubon         5674         2787            2498           289
..          ...         ...          ...             ...           ...
94   Winnebago        10679         5077            4512           565
95  Winneshiek        20070         8916            8170           746
96    Woodbury       105941        42701           39904          2797
97       Worth         7443         3480            3127           353
98      Wright        12943         6260            5404           856

[99 rows x 5 columns]

In [6]:
df['population'].describe()

count        99.000000
mean      32225.949495
std       59658.599500
min        3704.000000
25%        9973.000000
50%       15211.000000
75%       25281.500000
max      492401.000000
Name: population, dtype: float64