In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sns
from PIL import Image, ImageOps
from plotnine import (ggplot, aes, geom_map, geom_text, geom_label, 
                      ggtitle, element_blank, element_rect, 
                      scale_fill_manual, theme_minimal, theme) 
from pulp import (LpProblem, LpMinimize, LpVariable, lpSum, 
                  PULP_CBC_CMD, GLPK_CMD, LpStatus, value)

In [2]:
df=pd.read_csv('census.csv')
df.head()

   county_id      county  population  COUNTYFP10   latitude  longitude
0          0      Adair         7496           1  41.328528 -94.478164
1          1      Adams         3704           3  41.021656 -94.696906
2          2  Allamakee        14061           5  43.274964 -91.382751
3          3  Appanoose        12317           7  40.744683 -92.870345
4          4    Audubon         5674           9  41.679178 -94.904312

In [3]:
df['COUNTYFP10']=df['COUNTYFP10'].astype(str).str.pad(3,fillchar='0')

In [4]:
#imports county shapefiles from MGGG
shapefile_iowa = gpd.read_file('IA_counties/IA_counties.shp')
shapefile_iowa.head()

,STATEFP10,COUNTYFP10,GEOID10,NAME10,NAMELSAD10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,TOTPOP,...,TOTVOT12,PRES12D,PRES12R,PRES12OTH,TOTVOT16,PRES16D,PRES16R,PRES16OTH,CD,geometry
0,19,127,19127,Marshall,Marshall County,1482770678,1803086,+42.0416910,-092.9814523,40648,...,19064,10257,8472,335,17980,7652,9146,1182,1,"POLYGON ((-92.76679 42.12346, -92.76679 42.122..."
1,19,011,19011,Benton,Benton County,1855117342,5760770,+42.0925474,-092.0576300,26076,...,14023,6862,6940,221,13844,4678,8232,934,1,"POLYGON ((-91.94773 41.86186, -91.95514 41.861..."
2,19,041,19041,Clay,Clay County,1469139214,13866941,+43.0798220,-095.1497261,16667,...,8502,3385,4951,166,8617,2249,5877,491,4,"POLYGON ((-95.26926 43.25537, -95.26140 43.255..."
3,19,165,19165,Shelby,Shelby County,1530110414,1486135,+41.6790143,-095.3089173,12167,...,6483,2469,3911,103,6370,1662,4362,346,4,"POLYGON ((-95.20902 41.86371, -95.20890 41.863..."
4,19,043,19043,Clayton,Clayton County,2016405612,36586071,+42.8409979,-091.3235108,18129,...,9138,4806,4164,168,9129,3237,5317,575,1,"POLYGON ((-91.25080 42.64558, -91.25160 42.645..."

In [5]:
map_population_by_county_data = shapefile_iowa.merge(df, on='COUNTYFP10')
county_populations = np.array(df['population'])
state_population = sum(county_populations)
df.sort_values('population', ascending=False).head()

    county_id       county  population COUNTYFP10   latitude  longitude
76         76        Polk       492401        153  41.684281 -93.569720
56         56        Linn       230299        113  42.077951 -91.597673
81         81       Scott       174669        163  41.641679 -90.622290
51         51     Johnson       152854        103  41.668737 -91.588812
6           6  Black Hawk       131144        013  42.472888 -92.306059

In [19]:
#putting the * will convert the array into a list form
#np.random permutes 99 numbers
list=[*np.random.permutation(99)]

In [17]:
#create a list of permutations of 99 counties
county_perms=[]
for i in range(10):
    county_perms.append([*np.random.permutation(99)])

In [18]:
print(county_perms)

[[97, 63, 21, 77, 73, 76, 56, 52, 11, 91, 83, 84, 29, 66, 10, 92, 70, 37, 58, 22, 57, 93, 24, 38, 82, 9, 54, 61, 43, 18, 7, 95, 16, 41, 40, 30, 32, 96, 51, 72, 62, 4, 1, 12, 80, 64, 89, 59, 68, 8, 45, 85, 78, 46, 14, 27, 67, 98, 47, 35, 25, 17, 5, 31, 33, 50, 0, 48, 15, 28, 13, 69, 74, 65, 23, 81, 34, 44, 49, 75, 36, 94, 60, 6, 20, 19, 2, 42, 90, 87, 3, 53, 71, 86, 39, 88, 55, 26, 79], [66, 30, 58, 13, 76, 80, 78, 61, 12, 52, 48, 4, 45, 21, 33, 3, 73, 72, 42, 25, 70, 75, 37, 49, 89, 59, 95, 15, 0, 9, 92, 8, 24, 62, 87, 41, 53, 47, 90, 71, 63, 82, 1, 83, 44, 2, 38, 16, 27, 97, 5, 6, 85, 23, 60, 11, 64, 98, 17, 93, 86, 34, 26, 14, 65, 35, 46, 88, 40, 20, 7, 96, 31, 94, 19, 50, 43, 51, 77, 18, 69, 79, 36, 55, 91, 81, 10, 29, 84, 54, 28, 56, 74, 32, 57, 39, 67, 22, 68], [1, 18, 22, 81, 39, 51, 93, 62, 54, 90, 88, 84, 85, 79, 73, 35, 30, 60, 67, 40, 70, 46, 45, 4, 66, 7, 13, 69, 37, 17, 25, 61, 38, 29, 95, 72, 64, 19, 9, 5, 94, 74, 55, 21, 77, 10, 2, 82, 48, 57, 92, 78, 59, 49, 20, 42, 97, 83, 15, 33, 41, 36, 58, 43, 16, 71, 31, 52, 89, 50, 68, 86, 34, 11, 63, 98, 14, 44, 3, 75, 76, 23, 8, 12, 80, 53, 47, 0, 56, 87, 32, 26, 24, 96, 65, 27, 6, 91, 28], [6, 90, 50, 38, 30, 35, 31, 74, 39, 70, 22, 60, 29, 88, 56, 87, 32, 4, 13, 40, 67, 51, 94, 54, 24, 28, 65, 78, 47, 48, 18, 46, 11, 12, 86, 19, 45, 82, 69, 77, 1, 85, 79, 23, 17, 96, 7, 75, 93, 91, 14, 63, 5, 76, 15, 62, 98, 53, 8, 97, 72, 83, 3, 84, 59, 0, 41, 61, 42, 21, 33, 80, 9, 27, 81, 95, 25, 58, 55, 71, 2, 20, 49, 66, 57, 73, 10, 44, 43, 34, 16, 64, 68, 89, 92, 26, 36, 52, 37], [2, 81, 73, 41, 23, 39, 31, 78, 21, 51, 70, 7, 77, 34, 71, 5, 11, 86, 38, 94, 79, 87, 85, 26, 58, 24, 46, 19, 0, 67, 66, 82, 25, 49, 44, 42, 47, 68, 69, 3, 88, 30, 40, 6, 33, 20, 50, 98, 62, 75, 9, 61, 4, 48, 60, 91, 32, 8, 97, 27, 72, 1, 12, 92, 64, 15, 52, 96, 54, 63, 90, 83, 80, 45, 10, 35, 95, 84, 13, 53, 29, 36, 17, 93, 14, 89, 56, 57, 65, 37, 74, 43, 76, 59, 55, 16, 22, 28, 18], [20, 67, 88, 97, 46, 34, 79, 26, 76, 60, 13, 96, 73, 2, 53, 77, 36, 94, 80, 32, 0, 82, 17, 18, 15, 68, 84, 64, 41, 54, 95, 75, 9, 43, 50, 42, 89, 5, 35, 58, 27, 92, 33, 14, 37, 11, 71, 44, 22, 25, 38, 24, 10, 8, 6, 39, 23, 87, 7, 98, 30, 49, 3, 55, 31, 93, 90, 72, 52, 66, 56, 12, 78, 45, 21, 86, 51, 47, 74, 40, 91, 59, 19, 62, 65, 61, 69, 16, 1, 48, 81, 57, 83, 4, 70, 29, 28, 85, 63], [13, 30, 44, 50, 42, 68, 22, 34, 37, 40, 12, 78, 70, 90, 49, 77, 56, 97, 55, 92, 39, 53, 60, 16, 23, 87, 41, 17, 5, 93, 76, 94, 75, 33, 26, 6, 95, 57, 38, 98, 52, 88, 7, 66, 20, 61, 28, 14, 11, 1, 51, 4, 19, 47, 27, 67, 46, 25, 21, 64, 10, 65, 58, 2, 43, 71, 36, 18, 8, 72, 84, 85, 96, 0, 3, 81, 32, 69, 80, 74, 89, 35, 86, 24, 45, 91, 82, 83, 79, 9, 63, 54, 59, 48, 62, 73, 29, 31, 15], [36, 35, 95, 74, 12, 63, 27, 24, 88, 83, 61, 68, 42, 28, 58, 44, 64, 81, 65, 57, 76, 56, 66, 33, 93, 20, 91, 75, 22, 7, 40, 13, 46, 77, 8, 98, 45, 87, 82, 85, 32, 16, 4, 47, 23, 34, 11, 92, 59, 78, 6, 97, 96, 5, 86, 79, 1, 53, 90, 70, 26, 18, 55, 84, 37, 10, 69, 94, 50, 39, 2, 72, 41, 19, 29, 52, 30, 3, 31, 43, 54, 17, 38, 15, 48, 0, 73, 89, 25, 71, 14, 62, 49, 60, 51, 21, 9, 80, 67], [62, 91, 49, 77, 24, 86, 31, 34, 5, 2, 93, 22, 90, 9, 19, 13, 30, 63, 65, 73, 97, 45, 52, 58, 92, 89, 51, 23, 95, 98, 76, 25, 71, 60, 32, 47, 82, 57, 11, 69, 15, 56, 33, 7, 10, 18, 78, 48, 80, 50, 85, 3, 40, 12, 38, 4, 43, 6, 68, 28, 27, 66, 41, 46, 14, 87, 35, 8, 26, 0, 16, 79, 44, 21, 96, 94, 81, 20, 39, 17, 75, 74, 29, 53, 55, 61, 37, 70, 59, 88, 54, 67, 64, 1, 36, 84, 72, 42, 83], [40, 2, 89, 28, 13, 81, 90, 8, 72, 67, 85, 4, 23, 47, 5, 66, 75, 59, 35, 33, 78, 96, 54, 3, 27, 50, 17, 88, 83, 93, 87, 12, 30, 9, 79, 61, 42, 20, 32, 39, 76, 95, 48, 43, 82, 1, 25, 98, 55, 21, 44, 26, 49, 77, 70, 57, 97, 31, 7, 65, 24, 19, 18, 10, 74, 15, 58, 94, 73, 84, 36, 51, 29, 68, 62, 41, 86, 11, 80, 38, 22, 37, 64, 92, 60, 53, 63, 71, 45, 0, 46, 91, 56, 69, 52, 6, 16, 34, 14]]

In [20]:
list

[64,
 80,
 44,
 59,
 49,
 27,
 65,
 87,
 90,
 29,
 16,
 18,
 20,
 66,
 8,
 0,
 22,
 96,
 71,
 34,
 30,
 7,
 11,
 5,
 2,
 63,
 93,
 43,
 24,
 91,
 75,
 60,
 19,
 17,
 74,
 28,
 37,
 97,
 50,
 94,
 10,
 13,
 14,
 92,
 4,
 84,
 45,
 47,
 54,
 67,
 73,
 38,
 61,
 51,
 82,
 81,
 39,
 62,
 32,
 86,
 3,
 98,
 79,
 52,
 9,
 68,
 83,
 88,
 1,
 41,
 76,
 35,
 55,
 40,
 48,
 57,
 26,
 77,
 25,
 21,
 56,
 15,
 69,
 12,
 85,
 6,
 46,
 53,
 72,
 31,
 42,
 78,
 36,
 95,
 89,
 70,
 23,
 58,
 33]

In [21]:
df.head()

   county_id      county  population COUNTYFP10   latitude  longitude
0          0      Adair         7496        001  41.328528 -94.478164
1          1      Adams         3704        003  41.021656 -94.696906
2          2  Allamakee        14061        005  43.274964 -91.382751
3          3  Appanoose        12317        007  40.744683 -92.870345
4          4    Audubon         5674        009  41.679178 -94.904312

In [23]:
county_perms[1]

[66,
 30,
 58,
 13,
 76,
 80,
 78,
 61,
 12,
 52,
 48,
 4,
 45,
 21,
 33,
 3,
 73,
 72,
 42,
 25,
 70,
 75,
 37,
 49,
 89,
 59,
 95,
 15,
 0,
 9,
 92,
 8,
 24,
 62,
 87,
 41,
 53,
 47,
 90,
 71,
 63,
 82,
 1,
 83,
 44,
 2,
 38,
 16,
 27,
 97,
 5,
 6,
 85,
 23,
 60,
 11,
 64,
 98,
 17,
 93,
 86,
 34,
 26,
 14,
 65,
 35,
 46,
 88,
 40,
 20,
 7,
 96,
 31,
 94,
 19,
 50,
 43,
 51,
 77,
 18,
 69,
 79,
 36,
 55,
 91,
 81,
 10,
 29,
 84,
 54,
 28,
 56,
 74,
 32,
 57,
 39,
 67,
 22,
 68]

In [31]:
list2=pd.Series(list)
list2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 99 entries, 0 to 98
Series name: None
Non-Null Count  Dtype
--------------  -----
99 non-null     int64
dtypes: int64(1)
memory usage: 920.0 bytes

In [33]:
list2

0     64
1     80
2     44
3     59
4     49
      ..
94    89
95    70
96    23
97    58
98    33
Length: 99, dtype: int64

In [32]:
df.sort_values(by='county_id', key=list2)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
toy={'col1':[0,1,2,3], 'col2':[10,11,12,13], 'col3':[4,3,2,1]}
toydf=pd.DataFrame(data=toy, index=[0,1,2,3])

In [36]:
toydf

   col1  col2  col3
0     0    10     4
1     1    11     3
2     2    12     2
3     3    13     1

In [37]:
toy_perms=[]
for i in range(5):
    toy_perms.append([*np.random.permutation(4)])

In [38]:
toy_perms

[[3, 0, 2, 1], [2, 0, 1, 3], [2, 1, 3, 0], [2, 3, 0, 1], [3, 1, 2, 0]]

In [39]:
toy_perms[1]

[2, 0, 1, 3]

In [49]:
toy_series=pd.Series(toy_perms[1])
toy_series

0    2
1    0
2    1
3    3
dtype: int64

In [76]:
toydf.sort_values(by='col1', key=lambda col:np.random.permutation(4))

   col1  col2  col3
1     1    11     3
0     0    10     4
2     2    12     2
3     3    13     1

In [77]:
toydf.sort_values(by='col1', key=lambda col:np.random.permutation(4))

   col1  col2  col3
3     3    13     1
2     2    12     2
1     1    11     3
0     0    10     4

In [78]:
toydf.sort_values(by='col1', key=lambda col: toy_series)

   col1  col2  col3
1     1    11     3
2     2    12     2
0     0    10     4
3     3    13     1

In [88]:
perm=np.random.permutation(99)
print(perm)
df_ex=df.sort_values(by='county_id', key=lambda col: list2)
print(df_ex.head(30))
# df_ex=df.sort_values(by='county_id', key=lambda col: np.random.permutation(99))

[50 73 26  9 23 49 52 94 79 66 86 37  4 92 41 19 91 95 21 22 69 71 60 27
 53  0 67 58 46 90 48 88 96 20 54 32 12 74 24 40  6 57 42 75  1 31 62 64
 84 63 47 56 70 17 59  5 34  7 51 35 87 38 25 77 68 83 16 33 85 97 61 13
 18 80 76 45  2 72  8 11 55 28 10 14 82  3 98 29 44 43 15 81 89 30 65 39
 93 36 78]
    county_id        county  population COUNTYFP10   latitude  longitude
15         15        Cedar        18505        031  41.772355 -91.132190
68         68   Montgomery        10330        137  41.021735 -95.157790
24         24       Dallas        99678        049  41.685321 -94.040706
60         60      Madison        16548        121  41.330622 -94.015184
44         44       Howard         9469        089  43.365313 -92.321908
23         23     Crawford        16525        047  42.043119 -95.389090
85         85         Tama        17135        171  42.074848 -92.529411
21         21      Clayton        17043        043  42.840998 -91.323511
14         14         Cass        13127        029  41.333824 -94.933302
64         64        Mills        14484        129  41.033703 -95.619101
40         40      Hancock        10795        081  43.075410 -93.743696
22         22      Clinton        46460        045  41.898073 -90.534243
83         83        Sioux        35872        167  43.082854 -96.177929
41         41       Hardin        16878        083  42.389955 -93.241081
42         42     Harrison        14582        085  41.688584 -95.827149
81         81        Scott       174669        163  41.641679 -90.622290
10         10  Buena Vista        20823        021  42.741522 -95.141432
33         33        Floyd        15627        067  43.052741 -92.787367
11         11       Butler        14334        023  42.734708 -92.780066
32         32      Fayette        19509        065  42.864450 -91.839373
12         12      Calhoun         9927        025  42.386170 -94.643683
79         79     Ringgold         4663        159  40.735334 -94.244251
16         16  Cerro Gordo        43127        033  43.075171 -93.251266
96         96     Woodbury       105941        193  42.393220 -96.053296
28         28   Des Moines        38910        057  40.915339 -91.186925
78         78    Poweshiek        18662        157  41.684526 -92.522882
76         76         Polk       492401        153  41.684281 -93.569720
5           5       Benton        25575        011  42.092547 -92.057630
35         35      Fremont         6605        071  40.743726 -95.599516
9           9     Buchanan        20565        019  42.470328 -91.838666

In [81]:
perm

array([54, 89, 27, 48,  0,  5, 34, 73, 13, 88, 45, 50, 40, 97, 28, 29, 11,
       18,  1, 30, 32, 79, 65, 55, 82, 90, 75, 59, 17, 38, 61, 77, 67, 41,
       64, 96, 51, 43, 42, 49, 26, 53, 92, 56, 23, 52, 46, 63, 94, 91, 74,
       21, 36, 68, 83, 57, 35, 12, 66, 86, 47, 85, 60, 62, 16,  7,  6, 58,
        2, 25, 95, 81,  3, 10, 87, 37, 93, 84, 14, 19, 78, 70, 71,  8, 69,
       98, 72, 31, 22, 20, 44, 39, 33,  9,  4, 76, 80, 15, 24])

In [82]:
df_ex.head()

    county_id       county  population COUNTYFP10   latitude  longitude
4           4     Audubon         5674        009  41.679178 -94.904312
18         18   Chickasaw        12012        037  43.059741 -92.317210
68         68  Montgomery        10330        137  41.021735 -95.157790
72         72        Page        15211        145  40.739090 -95.144290
94         94   Winnebago        10679        189  43.378124 -93.743488

In [85]:
for i in range(5):
    df_dummy=df.sort_values(by='county_id', key=lambda col: np.random.permutation(99))
    print(df_dummy.head())

    county_id    county  population COUNTYFP10   latitude  longitude
25         25    Davis         9110        051  40.748089 -92.410345
13         13  Carroll        20760        027  42.039492 -94.867647
83         83    Sioux        35872        167  43.082854 -96.177929
36         36   Greene         8771        073  42.042494 -94.388703
5           5   Benton        25575        011  42.092547 -92.057630
    county_id      county  population COUNTYFP10   latitude  longitude
52         52      Jones        20646        105  42.125118 -91.116914
83         83      Sioux        35872        167  43.082854 -96.177929
51         51    Johnson       152854        103  41.668737 -91.588812
46         46        Ida         7005        093  42.391860 -95.507421
3           3  Appanoose        12317        007  40.744683 -92.870345
    county_id      county  population COUNTYFP10   latitude  longitude
78         78  Poweshiek        18662        157  41.684526 -92.522882
34         34   Franklin        10019        069  42.736549 -93.271425
51         51    Johnson       152854        103  41.668737 -91.588812
40         40    Hancock        10795        081  43.075410 -93.743696
80         80        Sac         9814        161  42.387526 -95.105224
    county_id       county  population COUNTYFP10   latitude  longitude
54         54     Kossuth        14828        109  43.212478 -94.213983
3           3   Appanoose        12317        007  40.744683 -92.870345
81         81       Scott       174669        163  41.641679 -90.622290
14         14        Cass        13127        029  41.333824 -94.933302
68         68  Montgomery        10330        137  41.021735 -95.157790
    county_id    county  population COUNTYFP10   latitude  longitude
51         51  Johnson       152854        103  41.668737 -91.588812
87         87    Union        12138        175  41.028550 -94.245091
48         48  Jackson        19485        097  42.164281 -90.574596
53         53   Keokuk        10033        107  41.331182 -92.167721
46         46      Ida         7005        093  42.391860 -95.507421

In [89]:
county_perms

[[97,
  63,
  21,
  77,
  73,
  76,
  56,
  52,
  11,
  91,
  83,
  84,
  29,
  66,
  10,
  92,
  70,
  37,
  58,
  22,
  57,
  93,
  24,
  38,
  82,
  9,
  54,
  61,
  43,
  18,
  7,
  95,
  16,
  41,
  40,
  30,
  32,
  96,
  51,
  72,
  62,
  4,
  1,
  12,
  80,
  64,
  89,
  59,
  68,
  8,
  45,
  85,
  78,
  46,
  14,
  27,
  67,
  98,
  47,
  35,
  25,
  17,
  5,
  31,
  33,
  50,
  0,
  48,
  15,
  28,
  13,
  69,
  74,
  65,
  23,
  81,
  34,
  44,
  49,
  75,
  36,
  94,
  60,
  6,
  20,
  19,
  2,
  42,
  90,
  87,
  3,
  53,
  71,
  86,
  39,
  88,
  55,
  26,
  79],
 [66,
  30,
  58,
  13,
  76,
  80,
  78,
  61,
  12,
  52,
  48,
  4,
  45,
  21,
  33,
  3,
  73,
  72,
  42,
  25,
  70,
  75,
  37,
  49,
  89,
  59,
  95,
  15,
  0,
  9,
  92,
  8,
  24,
  62,
  87,
  41,
  53,
  47,
  90,
  71,
  63,
  82,
  1,
  83,
  44,
  2,
  38,
  16,
  27,
  97,
  5,
  6,
  85,
  23,
  60,
  11,
  64,
  98,
  17,
  93,
  86,
  34,
  26,
  14,
  65,
  35,
  46,
  88,
  40,
  20,
  7,
  96,
  31,
  94,
  19,
  50,
  43,
  51,
  77,
  18,
  69,
  79,
  36,
  55,
  91,
  81,
  10,
  29,
  84,
  54,
  28,
  56,
  74,
  32,
  57,
  39,
  67,
  22,
  68],
 [1,
  18,
  22,
  81,
  39,
  51,
  93,
  62,
  54,
  90,
  88,
  84,
  85,
  79,
  73,
  35,
  30,
  60,
  67,
  40,
  70,
  46,
  45,
  4,
  66,
  7,
  13,
  69,
  37,
  17,
  25,
  61,
  38,
  29,
  95,
  72,
  64,
  19,
  9,
  5,
  94,
  74,
  55,
  21,
  77,
  10,
  2,
  82,
  48,
  57,
  92,
  78,
  59,
  49,
  20,
  42,
  97,
  83,
  15,
  33,
  41,
  36,
  58,
  43,
  16,
  71,
  31,
  52,
  89,
  50,
  68,
  86,
  34,
  11,
  63,
  98,
  14,
  44,
  3,
  75,
  76,
  23,
  8,
  12,
  80,
  53,
  47,
  0,
  56,
  87,
  32,
  26,
  24,
  96,
  65,
  27,
  6,
  91,
  28],
 [6,
  90,
  50,
  38,
  30,
  35,
  31,
  74,
  39,
  70,
  22,
  60,
  29,
  88,
  56,
  87,
  32,
  4,
  13,
  40,
  67,
  51,
  94,
  54,
  24,
  28,
  65,
  78,
  47,
  48,
  18,
  46,
  11,
  12,
  86,
  19,
  45,
  82,
  69,
  77,
  1,
  85,
  79,
  23,
  17,
  96,
  7,
  75,
  93,
  91,
  14,
  63,
  5,
  76,
  15,
  62,
  98,
  53,
  8,
  97,
  72,
  83,
  3,
  84,
  59,
  0,
  41,
  61,
  42,
  21,
  33,
  80,
  9,
  27,
  81,
  95,
  25,
  58,
  55,
  71,
  2,
  20,
  49,
  66,
  57,
  73,
  10,
  44,
  43,
  34,
  16,
  64,
  68,
  89,
  92,
  26,
  36,
  52,
  37],
 [2,
  81,
  73,
  41,
  23,
  39,
  31,
  78,
  21,
  51,
  70,
  7,
  77,
  34,
  71,
  5,
  11,
  86,
  38,
  94,
  79,
  87,
  85,
  26,
  58,
  24,
  46,
  19,
  0,
  67,
  66,
  82,
  25,
  49,
  44,
  42,
  47,
  68,
  69,
  3,
  88,
  30,
  40,
  6,
  33,
  20,
  50,
  98,
  62,
  75,
  9,
  61,
  4,
  48,
  60,
  91,
  32,
  8,
  97,
  27,
  72,
  1,
  12,
  92,
  64,
  15,
  52,
  96,
  54,
  63,
  90,
  83,
  80,
  45,
  10,
  35,
  95,
  84,
  13,
  53,
  29,
  36,
  17,
  93,
  14,
  89,
  56,
  57,
  65,
  37,
  74,
  43,
  76,
  59,
  55,
  16,
  22,
  28,
  18],
 [20,
  67,
  88,
  97,
  46,
  34,
  79,
  26,
  76,
  60,
  13,
  96,
  73,
  2,
  53,
  77,
  36,
  94,
  80,
  32,
  0,
  82,
  17,
  18,
  15,
  68,
  84,
  64,
  41,
  54,
  95,
  75,
  9,
  43,
  50,
  42,
  89,
  5,
  35,
  58,
  27,
  92,
  33,
  14,
  37,
  11,
  71,
  44,
  22,
  25,
  38,
  24,
  10,
  8,
  6,
  39,
  23,
  87,
  7,
  98,
  30,
  49,
  3,
  55,
  31,
  93,
  90,
  72,
  52,
  66,
  56,
  12,
  78,
  45,
  21,
  86,
  51,
  47,
  74,
  40,
  91,
  59,
  19,
  62,
  65,
  61,
  69,
  16,
  1,
  48,
  81,
  57,
  83,
  4,
  70,
  29,
  28,
  85,
  63],
 [13,
  30,
  44,
  50,
  42,
  68,
  22,
  34,
  37,
  40,
  12,
  78,
  70,
  90,
  49,
  77,
  56,
  97,
  55,
  92,
  39,
  53,
  60,
  16,
  23,
  87,
  41,
  17,
  5,
  93,
  76,
  94,
  75,
  33,
  26,
  6,
  95,
  57,
  38,
  98,
  52,
  88,
  7,
  66,
  20,
  61,
  28,
  14,
  11,
  1,
  51,
  4,
  19,
  47,
  27,
  67,
  46,
  25,
  21,
  64,
  10,
  65,
  58,
  2,
  43,
  71,
  36,
  18,
  8,
  72,
  84,
  85,
  96,
  0,
  3,
  81,
  32,
  69,
  80,
  74,
  89,
  35,
  86,
  24,
  45,
  91,
  82,
  83,
  79,
  9,
  63,
  54,
  59,
  48,
  62,
  73,
  29,
  31,
  15],
 [36,
  35,
  95,
  74,
  12,
  63,
  27,
  24,
  88,
  83,
  61,
  68,
  42,
  28,
  58,
  44,
  64,
  81,
  65,
  57,
  76,
  56,
  66,
  33,
  93,
  20,
  91,
  75,
  22,
  7,
  40,
  13,
  46,
  77,
  8,
  98,
  45,
  87,
  82,
  85,
  32,
  16,
  4,
  47,
  23,
  34,
  11,
  92,
  59,
  78,
  6,
  97,
  96,
  5,
  86,
  79,
  1,
  53,
  90,
  70,
  26,
  18,
  55,
  84,
  37,
  10,
  69,
  94,
  50,
  39,
  2,
  72,
  41,
  19,
  29,
  52,
  30,
  3,
  31,
  43,
  54,
  17,
  38,
  15,
  48,
  0,
  73,
  89,
  25,
  71,
  14,
  62,
  49,
  60,
  51,
  21,
  9,
  80,
  67],
 [62,
  91,
  49,
  77,
  24,
  86,
  31,
  34,
  5,
  2,
  93,
  22,
  90,
  9,
  19,
  13,
  30,
  63,
  65,
  73,
  97,
  45,
  52,
  58,
  92,
  89,
  51,
  23,
  95,
  98,
  76,
  25,
  71,
  60,
  32,
  47,
  82,
  57,
  11,
  69,
  15,
  56,
  33,
  7,
  10,
  18,
  78,
  48,
  80,
  50,
  85,
  3,
  40,
  12,
  38,
  4,
  43,
  6,
  68,
  28,
  27,
  66,
  41,
  46,
  14,
  87,
  35,
  8,
  26,
  0,
  16,
  79,
  44,
  21,
  96,
  94,
  81,
  20,
  39,
  17,
  75,
  74,
  29,
  53,
  55,
  61,
  37,
  70,
  59,
  88,
  54,
  67,
  64,
  1,
  36,
  84,
  72,
  42,
  83],
 [40,
  2,
  89,
  28,
  13,
  81,
  90,
  8,
  72,
  67,
  85,
  4,
  23,
  47,
  5,
  66,
  75,
  59,
  35,
  33,
  78,
  96,
  54,
  3,
  27,
  50,
  17,
  88,
  83,
  93,
  87,
  12,
  30,
  9,
  79,
  61,
  42,
  20,
  32,
  39,
  76,
  95,
  48,
  43,
  82,
  1,
  25,
  98,
  55,
  21,
  44,
  26,
  49,
  77,
  70,
  57,
  97,
  31,
  7,
  65,
  24,
  19,
  18,
  10,
  74,
  15,
  58,
  94,
  73,
  84,
  36,
  51,
  29,
  68,
  62,
  41,
  86,
  11,
  80,
  38,
  22,
  37,
  64,
  92,
  60,
  53,
  63,
  71,
  45,
  0,
  46,
  91,
  56,
  69,
  52,
  6,
  16,
  34,
  14]]

In [91]:
for i in range(10):
    df_dummy=df.sort_values(by='county_id', key=lambda col: county_perms[i])
    print(df_dummy.head())

    county_id     county  population COUNTYFP10   latitude  longitude
66         66    Monona         8751        133  42.049432 -95.956566
42         42  Harrison        14582        085  41.688584 -95.827149
86         86    Taylor         5896        173  40.737949 -94.697108
90         90    Warren        52403        181  41.336768 -93.564366
41         41    Hardin        16878        083  42.389955 -93.241081
    county_id       county  population COUNTYFP10   latitude  longitude
28         28  Des Moines        38910        057  40.915339 -91.186925
42         42    Harrison        14582        085  41.688584 -95.827149
45         45    Humboldt         9597        091  42.782221 -94.202775
15         15       Cedar        18505        031  41.772355 -91.132190
11         11      Butler        14334        023  42.734708 -92.780066
    county_id      county  population COUNTYFP10   latitude  longitude
87         87      Union        12138        175  41.028550 -94.245091
0           0      Adair         7496        001  41.328528 -94.478164
46         46        Ida         7005        093  42.391860 -95.507421
78         78  Poweshiek        18662        157  41.684526 -92.522882
23         23   Crawford        16525        047  42.043119 -95.389090
    county_id     county  population COUNTYFP10   latitude  longitude
65         65  Mitchell        10565        131  43.348564 -92.784466
40         40   Hancock        10795        081  43.075410 -93.743696
80         80       Sac         9814        161  42.387526 -95.105224
62         62    Marion        33414        125  41.331455 -93.093849
17         17  Cherokee        11658        035  42.742737 -95.633262
    county_id       county  population COUNTYFP10   latitude  longitude
28         28  Des Moines        38910        057  40.915339 -91.186925
61         61     Mahaska        22190        123  41.330797 -92.636366
0           0       Adair         7496        001  41.328528 -94.478164
39         39    Hamilton        15039        079  42.390768 -93.709198
52         52       Jones        20646        105  42.125118 -91.116914
    county_id      county  population COUNTYFP10   latitude  longitude
20         20       Clay        16384        041  43.079822 -95.149726
88         88  Van Buren         7203        177  40.754117 -91.952943
13         13    Carroll        20760        027  42.039492 -94.867647
62         62     Marion        33414        125  41.331455 -93.093849
93         93    Webster        36999        187  42.434397 -94.179157
    county_id      county  population COUNTYFP10   latitude  longitude
73         73  Palo Alto         8996        147  43.075854 -94.667297
49         49     Jasper        37813        099  41.685686 -93.052971
63         63   Marshall        40105        127  42.041691 -92.981452
74         74   Plymouth        25698        149  42.737585 -96.215864
51         51    Johnson       152854        103  41.668737 -91.588812
    county_id          county  population COUNTYFP10   latitude  longitude
85         85           Tama        17135        171  42.074848 -92.529411
56         56           Linn       230299        113  42.077951 -91.597673
70         70        O'Brien        14182        141  43.083745 -95.625624
77         77  Pottawattamie        93667        155  41.340184 -95.544905
42         42       Harrison        14582        085  41.688584 -95.827149
    county_id      county  population COUNTYFP10   latitude  longitude
69         69  Muscatine        43235        139  41.483776 -91.118699
93         93    Webster        36999        187  42.434397 -94.179157
9           9   Buchanan        20565        019  42.470328 -91.838666
51         51    Johnson       152854        103  41.668737 -91.588812
55         55        Lee        33555        111  40.647588 -91.477157
    county_id     county  population COUNTYFP10   latitude  longitude
89         89   Wapello        35437        179  41.031263 -92.409482
45         45  Humboldt         9597        091  42.782221 -94.202775
1           1     Adams         3704        003  41.021656 -94.696906
23         23  Crawford        16525        047  42.043119 -95.389090
11         11    Butler        14334        023  42.734708 -92.780066