In [13]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import os
import glob
import re

In [14]:
votes_df=pd.read_csv('./data/voter_numbers.csv')
votes_df['indep_votes'] = votes_df['indep_votes'].replace(np.nan, 0).astype(int)

In [15]:
def winner_tabulation(votes_df, realloc_df):
    votes_df['simulation_district']=realloc_df['DISTRICT']
    winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
    for i in range(1,5):
        winners_df.loc[i]=[i,
                      votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum(),
                      votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum(),
                    votes_df.loc[votes_df['simulation_district']==i]['indep_votes'].sum(),
                      '']
    for i in range(1,5):
        if votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum()>votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum():
            winners_df.loc[winners_df['district']==i,'party_winner']='D'
        else:
            winners_df.loc[winners_df['district']==i,'party_winner']='R'
    return winners_df

In [16]:
files = glob.glob('./allocation_by_county/*.csv')
file_name = './allocation_by_county/seed_{}_by_county.csv'
winners_list=[]
for i in range(len(files)):
    # realloc_df=pd.read_csv(file)
    iter_number=str(i).rjust(3,'0')
    realloc_df=pd.read_csv(file_name.format(iter_number))
    votes_df['simulation_district']=realloc_df['DISTRICT']
    winners=winner_tabulation(votes_df, realloc_df)
    dems=winners.loc[winners['party_winner']=='D'].shape[0]
    reps=winners.loc[winners['party_winner']=='R'].shape[0]
    winners_list.append([iter_number, dems, reps])

In [17]:
winners_list

[['000', 1, 3],
 ['001', 1, 3],
 ['002', 1, 3],
 ['003', 0, 4],
 ['004', 1, 3],
 ['005', 0, 4],
 ['006', 1, 3],
 ['007', 0, 4],
 ['008', 0, 4],
 ['009', 1, 3],
 ['010', 0, 4],
 ['011', 1, 3],
 ['012', 1, 3],
 ['013', 1, 3],
 ['014', 1, 3],
 ['015', 1, 3],
 ['016', 1, 3],
 ['017', 0, 4],
 ['018', 1, 3],
 ['019', 1, 3],
 ['020', 1, 3],
 ['021', 0, 4],
 ['022', 0, 4],
 ['023', 0, 4],
 ['024', 1, 3],
 ['025', 0, 4],
 ['026', 1, 3],
 ['027', 0, 4],
 ['028', 0, 4],
 ['029', 0, 4],
 ['030', 0, 4],
 ['031', 0, 4],
 ['032', 0, 4],
 ['033', 0, 4],
 ['034', 1, 3],
 ['035', 1, 3],
 ['036', 0, 4],
 ['037', 0, 4],
 ['038', 0, 4],
 ['039', 0, 4],
 ['040', 1, 3],
 ['041', 1, 3],
 ['042', 0, 4],
 ['043', 1, 3],
 ['044', 0, 4],
 ['045', 1, 3]]

In [18]:
seat_share_df=pd.DataFrame(winners_list,columns=['iteration', 'dem_seats', 'rep_seats'])
seat_share_df

   iteration  dem_seats  rep_seats
0        000          1          3
1        001          1          3
2        002          1          3
3        003          0          4
4        004          1          3
5        005          0          4
6        006          1          3
7        007          0          4
8        008          0          4
9        009          1          3
10       010          0          4
11       011          1          3
12       012          1          3
13       013          1          3
14       014          1          3
15       015          1          3
16       016          1          3
17       017          0          4
18       018          1          3
19       019          1          3
20       020          1          3
21       021          0          4
22       022          0          4
23       023          0          4
24       024          1          3
25       025          0          4
26       026          1          3
27       027          0          4
28       028          0          4
29       029          0          4
30       030          0          4
31       031          0          4
32       032          0          4
33       033          0          4
34       034          1          3
35       035          1          3
36       036          0          4
37       037          0          4
38       038          0          4
39       039          0          4
40       040          1          3
41       041          1          3
42       042          0          4
43       043          1          3
44       044          0          4
45       045          1          3