In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
votes_df=pd.read_csv('voter_numbers.csv')
votes_df['indep_votes'] = votes_df['indep_votes'].replace(np.nan, 0).astype(int)
votes_df

    county_id       NAME10  dem_votes  rep_votes  indep_votes  og_district
0           0       Adair         973       2166            0            3
1           1       Adams         510       1126            0            3
2           2   Allamakee        1932       3820            0            2
3           3   Appanoose        1412       3249            0            3
4           4     Audubon         633       1639           51            4
..        ...          ...        ...        ...          ...          ...
94         94   Winnebago        1303       2924          101            4
95         95  Winneshiek        4445       5135            0            2
96         96    Woodbury        9601      18234          533            4
97         97       Worth        1189       2031            0            2
98         98      Wright        1082       3008           98            4

[99 rows x 6 columns]

In [3]:
realloc_df=pd.read_csv('seed2_realloc_df.csv')
realloc_df.head()
#use shapef_ia_redist following the reallocation processs
#create og_winners_df and winners_df

,COUNTYFP10,NAME10,geometry,population,county_id,xcentr_lon,ycentr_lat,county_id_string,temp_district,num_switches,DISTRICT
0,1,Adair,"POLYGON ((386139.6726560561 4557123.147154345,...",7496,0,376909.476792,4.576509e+06,0,0,1,1
1,3,Adams,"POLYGON ((347722.4636164992 4557927.937157947,...",3704,1,357154.753953,4.543364e+06,1,1,1,1
2,5,Allamakee,"POLYGON ((621990.1817773253 4817526.586308301,...",14061,2,631594.469070,4.793646e+06,2,2,0,4
3,7,Appanoose,POLYGON ((491767.0579541979 4517888.7622878505...,12317,3,511092.713138,4.510250e+06,3,3,0,2
4,9,Audubon,POLYGON ((325801.57805079524 4617291.998950814...,5674,4,341387.505752,4.616499e+06,4,4,0,3

In [4]:
votes_df['simulation_district']=realloc_df['DISTRICT']
votes_df

,county_id,NAME10,dem_votes,rep_votes,indep_votes,og_district,simulation_district
0,0,Adair,973,2166,0,3,1
1,1,Adams,510,1126,0,3,1
2,2,Allamakee,1932,3820,0,2,4
3,3,Appanoose,1412,3249,0,3,2
4,4,Audubon,633,1639,51,4,3
...,...,...,...,...,...,...,...
94,94,Winnebago,1303,2924,101,4,3
95,95,Winneshiek,4445,5135,0,2,4
96,96,Woodbury,9601,18234,533,4,3
97,97,Worth,1189,2031,0,2,3
98,98,Wright,1082,3008,98,4,3

In [8]:
og_winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
for i in range(1,5):
    og_winners_df.loc[i]=[i,
                  votes_df.loc[votes_df['og_district']==i]['dem_votes'].sum(),
                  votes_df.loc[votes_df['og_district']==i]['rep_votes'].sum(),
                votes_df.loc[votes_df['og_district']==i]['indep_votes'].sum(),
                  '']
for i in range(1,5):
    if votes_df.loc[votes_df['og_district']==i]['dem_votes'].sum()>votes_df.loc[votes_df['og_district']==i]['rep_votes'].sum():
        og_winners_df.loc[og_winners_df['district']==i,'party_winner']='D'
    else:
        og_winners_df.loc[og_winners_df['district']==i,'party_winner']='R'
og_winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     145972     165957            0            R
2         2     145940     172181            0            R
3         3     154117     156262            0            R
4         4      86371     184326         6035            R

In [7]:
winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
for i in range(1,5):
    winners_df.loc[i]=[i,
                  votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum(),
                  votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum(),
                votes_df.loc[votes_df['simulation_district']==i]['indep_votes'].sum(),
                  '']
for i in range(1,5):
    if votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum()>votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum():
        winners_df.loc[winners_df['district']==i,'party_winner']='D'
    else:
        winners_df.loc[winners_df['district']==i,'party_winner']='R'
winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     153393     152995         1561            D
2         2     142798     166755            0            R
3         3      92065     190280         4474            R
4         4     144144     168696            0            R

In [17]:
# df.groupby(['A', 'B'])['C'].count().unstack(fill_value=0)
winners_df.groupby('party_winner').apply(len)

party_winner
D    1
R    3
dtype: int64

In [9]:
seed3_realloc_df=pd.read_csv('seed3_scalepop4_realloc.csv')
seed3_realloc_df.head()

,COUNTYFP10,NAME10,geometry,population,county_id,xcentr_lon,ycentr_lat,county_id_string,temp_district,num_switches,DISTRICT
0,1,Adair,"POLYGON ((386139.6726560561 4557123.147154345,...",7496,0,376909.476792,4.576509e+06,0,0,0,3
1,3,Adams,"POLYGON ((347722.4636164992 4557927.937157947,...",3704,1,357154.753953,4.543364e+06,1,1,0,3
2,5,Allamakee,"POLYGON ((621990.1817773253 4817526.586308301,...",14061,2,631594.469070,4.793646e+06,2,2,0,1
3,7,Appanoose,POLYGON ((491767.0579541979 4517888.7622878505...,12317,3,511092.713138,4.510250e+06,3,3,0,3
4,9,Audubon,POLYGON ((325801.57805079524 4617291.998950814...,5674,4,341387.505752,4.616499e+06,4,4,1,2

In [10]:
votes_seed3_df=pd.read_csv('voter_numbers.csv')
votes_seed3_df['indep_votes'] = votes_df['indep_votes'].replace(np.nan, 0).astype(int)
votes_seed3_df['simulation_district']=seed3_realloc_df['DISTRICT']

In [14]:
seed3_winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
for i in range(1,5):
    seed3_winners_df.loc[i]=[i,
                  votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['dem_votes'].sum(),
                  votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['rep_votes'].sum(),
                votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['indep_votes'].sum(),
                  '']
for i in range(1,5):
    if votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['dem_votes'].sum()>votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['rep_votes'].sum():
        seed3_winners_df.loc[winners_df['district']==i,'party_winner']='D'
    else:
        seed3_winners_df.loc[winners_df['district']==i,'party_winner']='R'
seed3_winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     143638     169905          477            R
2         2      86476     185701         5558            R
3         3     157712     162590            0            R
4         4     144574     160530            0            R

In [27]:
# seed3_winners_df.groupby('party_winner').apply(len)
# data['grade'].value_counts().reindex(['A','B','C','D'], fill_value=0)
seed3_winners_df['party_winner'].value_counts().reindex(['D','R'], fill_value=0)

4

In [28]:
def winner_tabulation(votes_df, realloc_df):
    votes_df['simulation_district']=realloc_df['DISTRICT']
    winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
    for i in range(1,5):
        winners_df.loc[i]=[i,
                      votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum(),
                      votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum(),
                    votes_df.loc[votes_df['simulation_district']==i]['indep_votes'].sum(),
                      '']
    for i in range(1,5):
        if votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum()>votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum():
            winners_df.loc[winners_df['district']==i,'party_winner']='D'
        else:
            winners_df.loc[winners_df['district']==i,'party_winner']='R'
    num_dem_winners=winners_df['party_winner'].value_counts().reindex(['D','R'], fill_value=0)[0]
    num_rep_winners=winners_df['party_winner'].value_counts().reindex(['D','R'], fill_value=0)[1]
    return num_dem_winners, num_rep_winners

In [30]:
winner_tabulation(votes_df, realloc_df)

(1, 3)