In [65]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [66]:
votes_df=pd.read_csv('voter_numbers.csv')
votes_df['indep_votes'] = votes_df['indep_votes'].replace(np.nan, 0).astype(int)
votes_df

,county_id,NAME10,dem_votes,rep_votes,indep_votes,og_district,og_dem,og_rep,og_indep
0,0,Adair,973,2166,0,3,NaN,NaN,NaN
1,1,Adams,510,1126,0,3,NaN,NaN,NaN
2,2,Allamakee,1932,3820,0,2,NaN,NaN,NaN
3,3,Appanoose,1412,3249,0,3,NaN,NaN,NaN
4,4,Audubon,633,1639,51,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
94,94,Winnebago,1303,2924,101,4,NaN,NaN,NaN
95,95,Winneshiek,4445,5135,0,2,NaN,NaN,NaN
96,96,Woodbury,9601,18234,533,4,NaN,NaN,NaN
97,97,Worth,1189,2031,0,2,NaN,NaN,NaN
98,98,Wright,1082,3008,98,4,NaN,NaN,NaN

In [83]:
realloc_df=pd.read_csv('seed2_realloc_df.csv')
realloc_df.head()
#use shapef_ia_redist following the reallocation processs
#create og_winners_df and winners_df

,COUNTYFP10,NAME10,geometry,population,county_id,xcentr_lon,ycentr_lat,county_id_string,temp_district,num_switches,DISTRICT
0,1,Adair,"POLYGON ((386139.6726560561 4557123.147154345,...",7496,0,376909.476792,4.576509e+06,0,0,1,1
1,3,Adams,"POLYGON ((347722.4636164992 4557927.937157947,...",3704,1,357154.753953,4.543364e+06,1,1,1,1
2,5,Allamakee,"POLYGON ((621990.1817773253 4817526.586308301,...",14061,2,631594.469070,4.793646e+06,2,2,0,4
3,7,Appanoose,POLYGON ((491767.0579541979 4517888.7622878505...,12317,3,511092.713138,4.510250e+06,3,3,0,2
4,9,Audubon,POLYGON ((325801.57805079524 4617291.998950814...,5674,4,341387.505752,4.616499e+06,4,4,0,3

In [68]:
rep_candidate_dict = {1: 'Miller-Meeks'
                  ,2:'Hinson'
                  ,3:'Nunn'
                  ,4:'Feenstra'
                  
}
dem_candidate_dict = {1: 'Bohannan'
                      ,2: 'Mathis'
                      ,3:'Axne'
                      ,4:'Melton'}
indep_candidate_dict = {1: 'NA'
                        ,2: 'NA'
                        ,3: 'NA'
                        ,4: 'Holder'
                        }

In [69]:
votes_df['og_rep']=votes_df['og_district'].map(rep_candidate_dict)
votes_df['og_dem']=votes_df['og_district'].map(dem_candidate_dict)
votes_df['og_indep']=votes_df['og_district'].map(indep_candidate_dict)
votes_df

,county_id,NAME10,dem_votes,rep_votes,indep_votes,og_district,og_dem,og_rep,og_indep
0,0,Adair,973,2166,0,3,Axne,Nunn,NA
1,1,Adams,510,1126,0,3,Axne,Nunn,NA
2,2,Allamakee,1932,3820,0,2,Mathis,Hinson,NA
3,3,Appanoose,1412,3249,0,3,Axne,Nunn,NA
4,4,Audubon,633,1639,51,4,Melton,Feenstra,Holder
...,...,...,...,...,...,...,...,...,...
94,94,Winnebago,1303,2924,101,4,Melton,Feenstra,Holder
95,95,Winneshiek,4445,5135,0,2,Mathis,Hinson,NA
96,96,Woodbury,9601,18234,533,4,Melton,Feenstra,Holder
97,97,Worth,1189,2031,0,2,Mathis,Hinson,NA
98,98,Wright,1082,3008,98,4,Melton,Feenstra,Holder

In [70]:
votes_df['simulation_district']=realloc_df['DISTRICT']
votes_df

,county_id,NAME10,dem_votes,rep_votes,indep_votes,og_district,og_dem,og_rep,og_indep,simulation_district
0,0,Adair,973,2166,0,3,Axne,Nunn,NA,1
1,1,Adams,510,1126,0,3,Axne,Nunn,NA,1
2,2,Allamakee,1932,3820,0,2,Mathis,Hinson,NA,4
3,3,Appanoose,1412,3249,0,3,Axne,Nunn,NA,2
4,4,Audubon,633,1639,51,4,Melton,Feenstra,Holder,3
...,...,...,...,...,...,...,...,...,...,...
94,94,Winnebago,1303,2924,101,4,Melton,Feenstra,Holder,3
95,95,Winneshiek,4445,5135,0,2,Mathis,Hinson,NA,4
96,96,Woodbury,9601,18234,533,4,Melton,Feenstra,Holder,3
97,97,Worth,1189,2031,0,2,Mathis,Hinson,NA,3
98,98,Wright,1082,3008,98,4,Melton,Feenstra,Holder,3

In [71]:
og_winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
og_winners_df

Empty DataFrame
Columns: [district, dem_votes, rep_votes, indep_votes, party_winner]
Index: []

In [72]:
for i in range(1,5):
    og_winners_df.loc[i]=[i,
                  votes_df.loc[votes_df['og_district']==i]['dem_votes'].sum(),
                  votes_df.loc[votes_df['og_district']==i]['rep_votes'].sum(),
                votes_df.loc[votes_df['og_district']==i]['indep_votes'].sum(),
                  '']

In [73]:
og_winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     145972     165957            0
2         2     145940     172181            0
3         3     154117     156262            0
4         4      86371     184326         6035

In [74]:
for i in range(1,5):
    if votes_df.loc[votes_df['og_district']==i]['dem_votes'].sum()>votes_df.loc[votes_df['og_district']==i]['rep_votes'].sum():
        og_winners_df.loc[og_winners_df['district']==i,'party_winner']='D'
    else:
        og_winners_df.loc[og_winners_df['district']==i,'party_winner']='R'

In [75]:
og_winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     145972     165957            0            R
2         2     145940     172181            0            R
3         3     154117     156262            0            R
4         4      86371     184326         6035            R

In [84]:
winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
for i in range(1,5):
    winners_df.loc[i]=[i,
                  votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum(),
                  votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum(),
                votes_df.loc[votes_df['simulation_district']==i]['indep_votes'].sum(),
                  '']
for i in range(1,5):
    if votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum()>votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum():
        winners_df.loc[winners_df['district']==i,'party_winner']='D'
    else:
        winners_df.loc[winners_df['district']==i,'party_winner']='R'
winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     153393     152995         1561            D
2         2     142798     166755            0            R
3         3      92065     190280         4474            R
4         4     144144     168696            0            R

In [76]:
for i in range(1,5):
    if votes_df.loc[votes_df['simulation_district']==i]['dem_votes'].sum()>votes_df.loc[votes_df['simulation_district']==i]['rep_votes'].sum():
        winners_df.loc[winners_df['district']==i,'party_winner']='D'
    else:
        winners_df.loc[winners_df['district']==i,'party_winner']='R'
winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     153393     152995         1561            D
2         2     142798     166755            0            R
3         3      92065     190280         4474            R
4         4     144144     168696            0            R

In [85]:
seed3_realloc_df=pd.read_csv('seed3_scalepop4_realloc.csv')
seed3_realloc_df.head()

,COUNTYFP10,NAME10,geometry,population,county_id,xcentr_lon,ycentr_lat,county_id_string,temp_district,num_switches,DISTRICT
0,1,Adair,"POLYGON ((386139.6726560561 4557123.147154345,...",7496,0,376909.476792,4.576509e+06,0,0,0,3
1,3,Adams,"POLYGON ((347722.4636164992 4557927.937157947,...",3704,1,357154.753953,4.543364e+06,1,1,0,3
2,5,Allamakee,"POLYGON ((621990.1817773253 4817526.586308301,...",14061,2,631594.469070,4.793646e+06,2,2,0,1
3,7,Appanoose,POLYGON ((491767.0579541979 4517888.7622878505...,12317,3,511092.713138,4.510250e+06,3,3,0,3
4,9,Audubon,POLYGON ((325801.57805079524 4617291.998950814...,5674,4,341387.505752,4.616499e+06,4,4,1,2

In [86]:
votes_seed3_df=pd.read_csv('voter_numbers.csv')
votes_seed3_df['indep_votes'] = votes_df['indep_votes'].replace(np.nan, 0).astype(int)
votes_seed3_df['simulation_district']=seed3_realloc_df['DISTRICT']

,county_id,NAME10,dem_votes,rep_votes,indep_votes,og_district,og_dem,og_rep,og_indep,simulation_district
0,0,Adair,973,2166,0,3,NaN,NaN,NaN,3
1,1,Adams,510,1126,0,3,NaN,NaN,NaN,3
2,2,Allamakee,1932,3820,0,2,NaN,NaN,NaN,1
3,3,Appanoose,1412,3249,0,3,NaN,NaN,NaN,3
4,4,Audubon,633,1639,51,4,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...
94,94,Winnebago,1303,2924,101,4,NaN,NaN,NaN,2
95,95,Winneshiek,4445,5135,0,2,NaN,NaN,NaN,1
96,96,Woodbury,9601,18234,533,4,NaN,NaN,NaN,2
97,97,Worth,1189,2031,0,2,NaN,NaN,NaN,1
98,98,Wright,1082,3008,98,4,NaN,NaN,NaN,2

In [94]:
votes_df.head(10)

,county_id,NAME10,dem_votes,rep_votes,indep_votes,og_district,og_dem,og_rep,og_indep,simulation_district
0,0,Adair,973,2166,0,3,Axne,Nunn,NA,1
1,1,Adams,510,1126,0,3,Axne,Nunn,NA,1
2,2,Allamakee,1932,3820,0,2,Mathis,Hinson,NA,4
3,3,Appanoose,1412,3249,0,3,Axne,Nunn,NA,2
4,4,Audubon,633,1639,51,4,Melton,Feenstra,Holder,3
5,5,Benton,3912,7428,0,2,Mathis,Hinson,NA,4
6,6,Black Hawk,24345,22776,0,2,Mathis,Hinson,NA,2
7,7,Boone,4070,6614,270,4,Melton,Feenstra,Holder,3
8,8,Bremer,3128,5028,0,2,Mathis,Hinson,NA,4
9,9,Buchanan,4428,6576,0,2,Mathis,Hinson,NA,4

In [93]:
votes_seed3_df.head(10)

,county_id,NAME10,dem_votes,rep_votes,indep_votes,og_district,og_dem,og_rep,og_indep,simulation_district
0,0,Adair,973,2166,0,3,NaN,NaN,NaN,3
1,1,Adams,510,1126,0,3,NaN,NaN,NaN,3
2,2,Allamakee,1932,3820,0,2,NaN,NaN,NaN,1
3,3,Appanoose,1412,3249,0,3,NaN,NaN,NaN,3
4,4,Audubon,633,1639,51,4,NaN,NaN,NaN,2
5,5,Benton,3912,7428,0,2,NaN,NaN,NaN,4
6,6,Black Hawk,24345,22776,0,2,NaN,NaN,NaN,1
7,7,Boone,4070,6614,270,4,NaN,NaN,NaN,2
8,8,Bremer,3128,5028,0,2,NaN,NaN,NaN,1
9,9,Buchanan,4428,6576,0,2,NaN,NaN,NaN,1

In [95]:
seed3_winners_df=pd.DataFrame(columns=['district', 'dem_votes', 'rep_votes','indep_votes', 'party_winner'])
for i in range(1,5):
    seed3_winners_df.loc[i]=[i,
                  votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['dem_votes'].sum(),
                  votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['rep_votes'].sum(),
                votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['indep_votes'].sum(),
                  '']
for i in range(1,5):
    if votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['dem_votes'].sum()>votes_seed3_df.loc[votes_seed3_df['simulation_district']==i]['rep_votes'].sum():
        seed3_winners_df.loc[winners_df['district']==i,'party_winner']='D'
    else:
        seed3_winners_df.loc[winners_df['district']==i,'party_winner']='R'
seed3_winners_df

   district  dem_votes  rep_votes  indep_votes party_winner
1         1     143638     169905          477            R
2         2      86476     185701         5558            R
3         3     157712     162590            0            R
4         4     144574     160530            0            R